html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  z-index: 10000;
}
/* helpers */
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p20{
    padding: 20px;
}
.p30{
    padding: 30px;
}
.pL10{
    padding-left: 10px
}
.pL20{
    padding-left: 20px
}
.pL30{
    padding-left: 30px
}
.pR10{
    padding-right: 10px
}
.pR20{
    padding-right: 20px
}
.pR30{
    padding-right: 30px
}
.pT25{
    padding-top: 25px;
}
.pT40{
    padding-top: 40px;
}
.mT0{
    margin-top: 0;
}
.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}
.m30{
    margin: 30px;
}
.mT10{
    margin-top: 10px;
}
.mT20{
    margin-top: 20px;
}
.mT30{
    margin-top: 30px;
}
.mT40{
    margin-top: 40px;
}
.mT50{
    margin-top: 50px;
}
.mB20{
    margin-bottom: 20px;
}
.mB25{
    margin-bottom: 25px;
}

.inline{
    display: inline;
}
.brown{
    background: #343434;
}
.grey{
    background: #BFBFBF;
}
.blueBg{
    background: #3A7BBD;
}
.orangeBg{
    background: #E36C09;
}
.greenBg{
    background: #067e55;
}
.greenCo{
    color: #067e55;
}
.redCo{
    color: red;
}

.height120{
    height: 120px;
}
.height150{
    height: 150px;
}
.row_valign{
    display: table;
}
.div_valign{
    float: none;
    display: table-cell;
    vertical-align: middle;
}


h1{
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
.header_triangle{
    position: relative;
}
.header_triangle:after{
    content:"";
    position: absolute;
    width:0;
    height:0;
    border-top: 120px solid transparent;
    /* border-bottom:20px solid transparent; */
    border-left: 50px solid #343434;
    top: 0;
    right: -49px;
    z-index: 1000;
}
.heading{
    font-size: 24px;
    font-weight: bold;
}
ul.benchmark{
    padding-left: 15px;
}
.job_title{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.benchmark_label{
    font-size: 18px;
    font-weight: bold;
    /* background: #067e55; */
    color: #fff;
    padding: 5px;
    margin-top: 10px;
}
#sq_wrapper_btn .greenBg:hover{
    background: rgba(6,126,85,0.9);
}
#wpp_wrapper_btn .blueBg:hover{
    background: rgba(58,123,189,0.9);
}
#wva_wrapper_btn .orangeBg:hover{
    background: rgba(227,108,9, 0.9);
}
p.sq_seq_txt{
    background:  #067e55;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
p.sq_wpp_txt{
    background:  #3A7BBD;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
p.sq_wva_txt{
    background:  #E36C09;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
p.squences span{
    display: inline;
}
.sq_sequences, .wpp_sequences, .wva_sequences{
    font-weight: bold;
    background: #ccc
}


/* overrides */
.label{
    font-size: 85%;
}
.label-success{
    background: #3E3998;
}
.bg-primary{
    background: #3E3998;
    font-size: 11px;

}
input#wpp_hidden, input#sq_hidden, input#wva_hidden{
    display: none;
    visibility:hidden;
}
.fixed_seq{
    /* position: absolute;
    bottom: 0; */
}

/* sliders */
.noUi-marker-horizontal.noUi-marker-large{
    height: 12px;
}
.slider_wrapper{
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: 1px solid #D3D3D3;
}
.form-control_focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#sq_1 .noUi-connect, #sq_2 .noUi-connect, #sq_3 .noUi-connect, #sq_4 .noUi-connect, #sq_5 .noUi-connect, #sq_6 .noUi-connect{
    background: #067e55;
}
#wpp_1 .noUi-connect, #wpp_2 .noUi-connect, #wpp_3 .noUi-connect, #wpp_4 .noUi-connect, #wpp_5 .noUi-connect, #wpp_6 .noUi-connect, #wpp_7 .noUi-connect{
    background: #3A7BBD;
}
#wva_1 .noUi-connect, #wva_2 .noUi-connect, #wva_3 .noUi-connect, #wva_4 .noUi-connect, #wva_5 .noUi-connect, #wva_6 .noUi-connect{
    background: #E36C09;
}
.footer, #toggle_footer {
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
}

.footer-collapsed {
     transform:translateY(100%);
    -webkit-transform:translateY(100%);
}

.footer-collapsed #toggle_footer {
     transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
}

/****** media queries ******/
@media screen and (min-width: 768px){
    .mTMob50{
        margin-top: 0;
    }
    .toggle_footer{
        padding: 5px;
        margin-bottom: -1px;
        position: absolute;
        top: -30px;
        right: 20px;
        z-index: 111000;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-bottom-color: transparent;
        border-radius: 4px;
    }
}
@media screen and (max-width: 767px){
    .header_triangle:after{
        display: none;
    }
    .header_triangle{
        text-align: center;
    }
    .float_valign, .div_valign{
        display: block;
        float: none;
    }
    .mTMob50{
        margin-top: 50px;
    }
    .mTMob25{
        margin-top: 25px;
    }
    .mB25{
        margin-bottom: 0;
    }
    .footer {
      position: static;
      bottom: 0;
      width: 100%;
      height: auto;
      margin-top: 20px;

    }
    .toggle_footer{
        display: none;
    }

}
@media screen and (max-width: 478px){
    .label{
        font-size: 65%;
    }
}


/* tooltops */


.tooltipped{position:relative}
.tooltipped:after{position:absolute;z-index:1000000;display:none;padding:5px 8px;font:normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";color:#fff;text-align:center;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-wrap:break-word;white-space:pre;pointer-events:none;content:attr(aria-label);background:rgba(0,0,0,0.8);border-radius:3px;-webkit-font-smoothing:subpixel-antialiased}.tooltipped:before{position:absolute;z-index:1000001;display:none;width:0;height:0;color:rgba(0,0,0,0.8);pointer-events:none;content:"";border:5px solid transparent}.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after{display:inline-block;text-decoration:none}.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after{display:table-cell}.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after{top:100%;right:50%;margin-top:5px}.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before{top:auto;right:50%;bottom:-5px;margin-right:-5px;border-bottom-color:rgba(0,0,0,0.8)}.tooltipped-se:after{right:auto;left:50%;margin-left:-15px}.tooltipped-sw:after{margin-right:-15px}.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after{right:50%;bottom:100%;margin-bottom:5px}
.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before
{top:-5px;right:50%;bottom:auto;margin-right:-5px;border-top-color:rgba(0,0,0,0.8)}.tooltipped-ne:after
{right:auto;left:50%;margin-left:-15px}
.tooltipped-nw:after{margin-right:-15px}
.tooltipped-s:after,
.tooltipped-n:after{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%)}
.tooltipped-w:after{right:100%;bottom:50%;margin-right:5px;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%)}
.tooltipped-w:before{top:50%;bottom:50%;left:-5px;margin-top:-5px;border-left-color:rgba(0,0,0,0.8)}
.tooltipped-e:after{bottom:50%;left:100%;margin-left:5px;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%)}
.tooltipped-e:before{top:50%;right:-5px;bottom:50%;margin-top:-5px;border-right-color:rgba(0,0,0,0.8)}
.tooltipped-multiline:after{width:-webkit-max-content;width:-moz-max-content;width:max-content;max-width:250px;word-break:break-word;word-wrap:normal;white-space:pre-line;border-collapse:separate}
.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after{right:auto;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}.tooltipped-multiline.tooltipped-w:after,.tooltipped-multiline.tooltipped-e:after{right:100%}@media screen and (min-width: 0\0){.tooltipped-multiline:after{width:250px}}.tooltipped-sticky:before,.tooltipped-sticky:after{display:inline-block}
.tooltipped-sticky.tooltipped-multiline:after{display:table-cell}.fullscreen-overlay-enabled.dark-theme .tooltipped:after{color:#000;background:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-s:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-se:before,.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-sw:before{border-bottom-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-n:before,.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-ne:before,.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-nw:before{border-top-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-e:before{border-right-color:rgba(255,255,255,0.8)}.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-w:before{border-left-color:rgba(255,255,255,0.8)}